<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-projectCaseParams-add">
			<div class="form-group">
				<label class="col-sm-3 control-label"><font style = "color: red;">* </font> 参数名称：</label>
				<div class="col-sm-8">
					<input id="paramsName" name="paramsName" class="form-control" type="text">
				</div>
			</div>
			
			<div class="form-group">	
				<label class="col-sm-3 control-label">参数类型：</label>
				<div class="col-sm-8">
					<select id="type" name="type" class="form-control" type="text" onchange="func()">
					  <option value="0">范围值</option>
					  <option value="1">确定值</option>
					</select>
				</div>
			</div>
			
			<div class="form-group" id="value" style="display:none">	
				<label class="col-sm-3 control-label"><font style = "color: red;">* </font> 参数值：</label>
				<div class="col-sm-8">
					<input id="paramsValue" name="paramsValue" class="form-control" type="text">
				</div>
			</div>
			
			<div class="form-group" id="minValue" style="display:block">	
				<label class="col-sm-3 control-label" id="valueLabel"><font style = "color: red;">* </font> 参数最小值：</label>
				<div class="col-sm-8">
					<input id="paramsMinValue" name="paramsMinValue" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group" id="maxValue" style="display:block">	
				<label class="col-sm-3 control-label"><font style = "color: red;">* </font> 参数最大值：</label>
				<div class="col-sm-8">
					<input id="paramsMaxValue" name="paramsMaxValue" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">参数单位：</label>
				<div class="col-sm-8">
					<input id="paramsUnit" name="paramsUnit" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">备注：</label>
				<div class="col-sm-8">
					<textarea id="remark" name="remark" class="form-control" rows="8"></textarea>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-5 control-label">带 <font style = "color: red;">* </font> 的为必填项</label>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "testmanagmt/projectCaseParams";
		
		$.validator.setDefaults({
			ignore:":hidden:not(select)",
			submitHandler : function() {
				save();
			}
		});
		
		$("#form-projectCaseParams-add").validate({
			rules:{
				paramsName:{
					required:true,
        			maxlength: 50,
				},
				paramsValue:{
					maxlength:20
				},
				paramsMinValue:{
					number:true,
					maxlength:20
				},
				paramsMaxValue:{
					number:true,
					maxlength:20
				},
				paramsUnit:{
					maxlength:50
				},
				remark:{
					maxlength:200
				}
			}
		});
		
		/*重新初始化表单验证*/
		function resetValidateForm() {
			$.validate.resetForm();
			$.validate.form();
		}
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-projectCaseParams-add').serialize());
	            console.log($('#form-projectCaseParams-add').serialize());
	        }
	    }
		function func(){
			 //获取被选中的option标签
			 var vs = $('select  option:selected').val();
			 if(vs==1){
				 $("#maxValue").css('display','none');
				 $("#minValue").css('display','none');
				 //$('#valueLabel').style.display='none';
				 $("#value").css('display','block');
			 }else{
				 $("#maxValue").css('display','block');
				 $("#minValue").css('display','block');
				 $("#value").css('display','none');
			 }
			}
	</script>
</body>
</html>
